/* You're welcome to change any of this! */
body{
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, sans-serif;
    gap: 20px;
}

#header{
    background-color: rgb(189, 189, 189);
    padding: 30px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    background-image: url('grid.png');
}

#header:hover{
    height: 30vh;
    transition: 0.5s;
}

#header:hover #nav{
    transition: 0.5s;
    opacity: 100%;
}

#nav{
    display: flex;
    flex-direction: row;
    gap: 50px;
    opacity: 0;
    transition: 0.5s;
}

.navlink-1, .navlink-2, .navlink-3, .navlink-4, .navlink-5, .navlink-6{
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    transition: all 0.1s;
    color: black;
    border: solid 1px black;
    padding: 10px;
    background-color: rgb(189, 189, 189);
}

.navlink-1:hover{
    background-color: rgb(185, 227, 241);
}

.navlink-2:hover{
    background-color: rgb(224, 192, 239);
}

.navlink-3:hover{
    background-color:rgb(180, 255, 200);
}

.navlink-4:hover{
    background-color: rgb(255, 248, 180);
}

.navlink-5:hover{
    background-color: #ecaed0;
}
.navlink-6:hover{
    background-color: #FFDDA2;
}

a{
    text-decoration: none;
}


/* a:hover{
    color: rgb(4, 98, 98);
    transition: all 0.1s;
    transform: scale(1.2);
} */


.flexbox{
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
}

h1, h2{
    font-family: 'Press Start 2P', cursive;
}



footer{
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/**  TUTORIALS  **/



#tutorials{
    background-color: rgb(185, 227, 241);
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    transition: 0.4s;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.tut-grp{
display: flex;
gap: 20px;
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: 75%;
margin: 0 auto;
}

#tutorials:hover{
filter: saturate(200%);
width: 80%;
}

.tutorials-group{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 15%;
    background-color: rgb(185, 227, 241);
    margin: 0 auto;
    padding: 20px;
    transition: 0.4s;
    height: 10%;
    justify-content: center;
    align-items: center;

}

.tutorials-group:hover{
    filter: saturate(200%);
    width: 30%;
    }



/* LECTURES */


#lectures{
    background-color: rgb(224, 192, 239);
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    transition: 0.4s;
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
   
}
#lectures:hover{
    filter: saturate(200%);
    width: 80%;
}

.lec-grp{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.lectures-group{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 15%;
    background-color: rgb(224, 192, 239);
    margin: 0 auto;
    padding: 20px;
    transition: 0.4s;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.lectures-group:hover{
    filter: saturate(200%);
    width: 30%;
    }



    /* HOMEWORK*/

    #homework{
        background-color:rgb(180, 255, 200);
        width: 60%;
        margin: 0 auto;
        padding: 20px;
        transition: 0.4s;
        height: 32%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    
    #homework:hover{
        filter: saturate(200%);
        width: 80%;
    }

    .hw-grp{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 75%;
        margin: 0 auto;
    }
    
    .homework-group{
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 15%;
        background-color: rgb(180, 255, 200);
        margin: 0 auto;
        padding: 20px;
        transition: 0.4s;
        height: 10%;
        justify-content: center;
        align-items: center;
    }
    
    .homework-group:hover{
        filter: saturate(200%);
        width: 30%;
        }


/* QUIZZES */

#quizzes{
    background-color:rgb(255, 248, 180);
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    transition: 0.4s;
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#quizzes:hover{
    filter: saturate(200%);
    width: 80%;
}

.qz-grp{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.quiz-group{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 15%;
    background-color: rgb(255, 248, 180);
    margin: 0 auto;
    padding: 20px;
    transition: 0.4s;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.quiz-group:hover{
    filter: saturate(200%);
    width: 30%;
    }


    /* DESIGN INSPO */

    #inspiration {
        background-color: #ecaed0;
        width: 60%;
        margin: 0 auto;
        padding: 20px;
        transition: 0.4s;
        height: 32%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
       
    }
    #inspiration:hover{
        filter: saturate(200%);
        width: 80%;
    }

    .di-grp{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 75%;
        margin: 0 auto;
    }
    
    .design-group{
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 15%;
        background-color: #ecaed0;
        margin: 0 auto;
        padding: 20px;
        transition: 0.4s;
        height: 10%;
        justify-content: center;
        align-items: center;
    }
    
    .design-group:hover{
        filter: saturate(200%);
        width: 30%;
        }



/* PROJECTS */

#projects{
    background-color:#FFDDA2;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    transition: 0.4s;
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#projects:hover{
    filter: saturate(200%);
    width: 80%;
}

.pj-grp{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

.project-group{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 15%;
    background-color:#FFDDA2;
    margin: 0 auto;
    padding: 20px;
    transition: 0.4s;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.project-group:hover{
    filter: saturate(200%);
    width: 30%;
    }