html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

ul{
    border: solid 1px black;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    padding: 0;
}

nav{
    border: solid 1px black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

li{
    border: solid 1px black;
}