body {
    font-family: 'DynaPuff', cursive;
    background-color: rgb(201, 219, 230);
}

/* Your code here */

header{
    background-color: rgb(255, 234, 0);
    padding: 25px;
}

main{
    padding: 25px;
    flex-direction: row;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

section p{
    padding: 10px;
    width: 280px;
}

section{
    background-color: white;
    transition: 0.2s;
}

section:hover{
    transform: scale(120%) rotate(5deg);
    filter: saturate(200%) brightness(150%);
}