body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #D4F5F5;
}

i{
    transform: scale(200%);
}

.nav{
    background-color: #554348;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    
}

.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 20vw;
}

a{
    text-decoration: none;
    color: white;
}

.content{
    display: flex;
    justify-content: center;
    border: solid 1px red;
    padding-top: 20px;
    height: 200vh;
    width: 90vw;
    
}
.left-content{
    background-color: orange;
    width: 60%;
}

.top-scroll{
    display: flex;
    border: solid green 1px;
    height: 90vh;
    width: 100%;
    gap: 30px;
}

.img{
    background-image: url(images/me.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30vw;
    height: 83vh;
    border-radius: 30px;

}

.about-me{
    height: 30vh;
    background-color: green;
    padding: 20px;
    border-radius: 30px;
}

.proficient{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 30vh;
    border-radius: 30px;
}

.programs{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.program{
    width: 100px;
    height: 100px;
    border-radius: 30px;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding: 5px;
    width: 20vw;
    border-radius: 30px;
}